@CHARSET "UTF-8";

body{
	height: 100vh;
	margin : 0px;
}

.mainView{
	display: flex;
	flex-direction: column;
	height: 100%;
}

.container{
	display: flex;
	flex-direction : row;
	flex-wrap : wrap;
	flex-grow: 1;
}

.container>*{
	flex-basis : 50%;
}

.card{
	border-style: solid;
	padding: 10px;
	margin: 10px;	
}

.form{
	border-style: solid;
	background-color : lightgrey;
	padding: 10px;
	margin: 20px;
	flex-basis: 80%;
}

.action{
	border-style: solid;
	border-color : black;
	background: green;
	color: white;
	padding : 10px;
	margin : 5px;
}

.header{
	flex-basis:40px;
}

.middle{
	flex-grow: 1;
	display: flex;
	flex-direction : row;
	flex-wrap : wrap;
}

.content{
	flex-grow: 1;
	
}

.footer{
	flex-basis:40px;
}

.header,.menu,.footer{
	background: blue;
	color: white;
	padding: 10px;
	text-align: center;
}

a{
	color :black;
	text-decoration: none;	
}